@model AspClassMgt.Models.Instituicao
@{
    ViewBag.Title = "Login";

    string instituicaoLogadaNome = "";
    if (HttpContext.Current.Session["instituicaoLogadaNome"] != null)
    {
        instituicaoLogadaNome = HttpContext.Current.Session["instituicaoLogadaNome"].ToString();
    }
}


<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken() // previne o ataque CSRF
    @Html.ValidationSummary(true)

    @Html.Label("Login:");
    @Html.TextBox("login");
    <br><br>
    @Html.Label("Senha:");
    @Html.TextBox("senha");
    // <input type="submit"  />
    <button type="submit" classvalue="Login" class="btn btn-primary"> LOGIN </button>

}
