@model IEnumerable<AspClassMgt.Models.Aluno>
@{
    
    ViewBag.Title = "Index";
    string nomeInstituicao = HttpContext.Current.Session["instituicaoLogadaNome"].ToString();
}

<h2>Alunos de @Html.DisplayName(nomeInstituicao) </h2>
<br>
<br>
<p>
    @Html.ActionLink("Cadastrar", "Create", "" , new { @class = "btn btn-success btn-large" })

</p>
<table class="table table-striped" align="center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdAluno }, new { @class = "btn btn-warning btn-large" })
                @Html.ActionLink("Detalhar", "Details", new { id = item.IdAluno }, new { @class = "btn btn-info btn-large" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdAluno }, new { @class = "btn btn-danger btn-large" })

            </td>
        </tr>
        }
    </tbody>
</table>
