@model AspClassMgt.Models.Matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoIDMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoIDMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlunoIDMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlunoIDMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CursoIDMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursoIDMatricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMatricula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
