@model IEnumerable<AspClassMgt.Models.Matricula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstituicaoMatricula.nomeInstituicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlunoMatricula.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CursoMatricula.NomeCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CursoMatricula.CursoProfessorO.NomeProfessor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstituicaoMatricula.nomeInstituicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlunoMatricula.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CursoMatricula.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CursoMatricula.CursoProfessorO.NomeProfessor)
        </td>
        <td>
            @Html.ActionLink("Excluir", "Delete", new { id = item.IdMatricula }, new { @class = "btn btn-danger btn-large" })
        </td>
    </tr>
}

</table>
