@model AspClassMgt.Models.Professor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para professores", "Index")
        </div>
    }
</div>
