@model AspClassMgt.Models.Professor

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instituicaoProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instituicaoProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProfessor }) |
    @Html.ActionLink("Voltar para professores", "Index")
</p>
