@model IEnumerable<AspClassMgt.Models.Professor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instituicaoProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.instituicaoProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProfessor }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProfessor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProfessor })
        </td>
    </tr>
}

</table>
