@model AspClassMgt.Models.Curso

@{
    ViewBag.Title = "Create";

    string instituicaoLogadaNome = "";
    if (HttpContext.Current.Session["instituicaoLogadaNome"] != null)
    {
        instituicaoLogadaNome = HttpContext.Current.Session["instituicaoLogadaNome"].ToString();
    }
    string idString = "";
    idString = HttpContext.Current.Session["instituicaoLogadaID"].ToString();
    int idInstituicao = Convert.ToInt32(idString);

}


<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Cadastar Curso</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

       <div class="form-group">
        @Html.LabelFor(model => model.NomeCurso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomeCurso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeCurso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CargaHoraria, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CargaHoraria, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CargaHoraria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CursoProfessor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CursoProfessor, (IEnumerable<SelectListItem>)ViewBag.Listaprofessores, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CursoProfessor, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
