@model IEnumerable<AspClassMgt.Models.Curso>
@{

    ViewBag.Title = "Index";
    string nomeInstituicao = HttpContext.Current.Session["instituicaoLogadaNome"].ToString();
}

@{
    ViewBag.Title = "Index";
}

<h2>Cursos de @Html.DisplayName(nomeInstituicao) </h2>


<p>
    @Html.ActionLink("Cadastrar", "Create", "", new { @class = "btn btn-success btn-large" })
</p>


<table class="table table-striped" align="center">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHoraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoProfessorO.NomeProfessor)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaHoraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoProfessorO.NomeProfessor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCurso }, new { @class = "btn btn-warning btn-large" })
                @Html.ActionLink("Detalhar", "Details", new { id = item.IdCurso }, new { @class = "btn btn-info btn-large" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdCurso }, new { @class = "btn btn-danger btn-large" })


            </td>
        </tr>
    </tbody>
    }
    </table>
